/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.png');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 2rem;
}
.hero_desc {
    font-size: 4.5rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* the rest of the text above white screen*/
.other-header {
    text-align: center;
	color: #4c0082;
}
.other-text {
    text-align: left;
	color: #4c0082;
}