/* pfp image section */
.me-text {
    text-align: center;
	color: white;
    position: relative;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, 0%);
}
.me-pic {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
/* backgrounds */
.home_background {
    height:100vh;
	background-color: #3f0c76;
}
.links_background {
	background-color: #efefef;
}
/* the rest of the text above white screen */
.other-title {
    text-align: center;
	text-decoration: underline 1px;
	text-decoration-color: #3f0c76;
}
.other-header {
    text-align: left;
	text-decoration: underline 1px;
	text-decoration-color: #3f0c76;
}
.other-text {
    text-align: left;
}
/* portfolio section images css */
.imageMafia {
    width: 100%;
}
/* display background color on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #3f0c76;
}
/* spacing on all sections */
#about, #resume, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}